<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head th:frament="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Pizzeria</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>

    <nav th:fragment="navigation" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">Kino</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/index">Index</a></li>
                <li><a href="/reservations">Historia Rezerwacji</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>